<header>

  <a href="/">
    <img class="me" src="/images/image.gif" />
  </a>

  <ul class="icons">
    <li>
      <a href="/about.html" title="About me">
        <i class="fa fa-user"></i>
      </a>
    </li>

    <li>
      <a href="https://mastodon.social/@thehidden" title="Mastodon">
        <i class="fab fa-mastodon"></i>
      </a>
    </li>

    <li>
      <a href="https://github.com/sharp-tailed" title="Github">
        <i class="fab fa-github"></i>
      </a>
    </li>

    <li>
      <a href="https://sinister.ly/" title="Sinister.ly">
        <i class ="fa fa-user-secret"></i>
      </a>
    </li>

    <li>
      <a href="/feed.xml" title="Atom feed">
        <i class="fa fa-rss"></i>
      </a>
    </li>

    <li>
      <a href="https://anonymousplanet.org/" title="Anonymous Planet">
        <i class="fa fa-globe"></i>
      </a>
    </li>

  </ul>
</header>
